.nav-menu li.menu-element {
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
}

.nav-menu li.menu-element:hover {
    cursor: pointer;
    background-color: #555;
}

.nav-menu .menu-lista {
    margin-bottom: 0;
    float:right;
}