# flota_app/bootstrap/compiled.php

/flota_app/storage
/flota_app/_ide_helper.php
/flota_app/vendor/
node_modules/

# Laravel 5 & Lumen specific
bootstrap/cache/
/flota_app/.env
/flota_app/vendor
/flota_app/.env.example

## Directory-based project format:
.idea/
