@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open_sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('../fonts/Helvetica_Neue/HelveticaNeue-Condensed.otf');
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/Helvetica_Neue/HelveticaNeue-Light.otf');
}

@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('../fonts/Helvetica_Neue/HelveticaNeue-Roman.otf');
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('../fonts/Helvetica_Neue/HelveticaNeue-Medium.otf');
}

html, body {
    background-color: #ddd;
}

/*html, body {
    font-family: "HelveticaNeue-Condensed-5Light", sans-serif;
    font-weight: lighter;
}*/

.condensed-font {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.normal-font {
    font-family: "Helvetica Neue Roman", sans-serif;
}

.light-font {
    font-family: "Helvetica Neue Light", sans-serif;
}

.medium-font {
    font-family: "Helvetica Neue Medium", sans-serif;
}


.container {
    background-color: #eee;
}


/* Backgrounds */

.main-background {
    background-color: #00a0e3;
}

.main-background-light {
    background-color: #80cff1;
}

.main-background-dark {
    background-color: #015072;
}

.secondary-background {
    background-color: #5b5b5b;
}

.secondary-background-light {
    background-color: #adadad;
}

.secondary-background-dark {
    background-color: #2e2e2e;
}

.soft-background {
    background-color: #fefefe;
}

.overall-background {
    background-color: #ddd;
}


/* COLORS */

.main-color {
    color: #00a0e3;
}

.main-color-light {
    color: #80cff1;
}

.main-color-dark {
    color: #015072;
}

.secondary-color {
    color: #5b5b5b;
}

.secondary-color-light {
    color: #adadad;
}

.secondary-color-dark {
    color: #2e2e2e;
}

.soft-color {
    color: #fefefe;
}

.non-italics {
    font-style: normal;
}

.bold-text {
    font-family: "Helvetica Neue Medium", sans-serif;
    font-weight: bold;
    color: #2e2e2e;
}