.container {
    background-color: #eee;
}

.main-background {
    background-color: #00a0e3;
}

.secondary-background {
    background-color: #5b5b5b;
}

.soft-background {
    background-color: #eee;
}